<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>400430525291-n3vu5i8h8t0erqa7ivd7c53ia9m687q2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400430525291-n3vu5i8h8t0erqa7ivd7c53ia9m687q2</string>
	<key>API_KEY</key>
	<string>AIzaSyAnnT2-k45xD8tyA0PjbwIoW9JWtR2slSo</string>
	<key>GCM_SENDER_ID</key>
	<string>400430525291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c4q.FlashCardUnit6HomeWork</string>
	<key>PROJECT_ID</key>
	<string>flashcard-b08e2</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcard-b08e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400430525291:ios:0cf74f67a864eb1d</string>
	<key>DATABASE_URL</key>
	<string>https://flashcard-b08e2.firebaseio.com</string>
</dict>
</plist>